body {
    background-color: #c1efe7;
    /* background-image: url("https: //png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-run-brother-real-estate-advertising-poster-background-material-image_153908.jpg"); */

}


.homes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 5px; */
    gap: 10px;
    /* background-color: #b8f5c3; */
    justify-content: center;
    align-items: center;
background-image: url("https: //png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-run-brother-real-estate-advertising-poster-background-material-image_153908.jpg");
}

/* .homes-item-container {
    display: flex;
    flex-direction: column;
    margin: 0;
} */

.homes-item {
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 243, 194);
    border:2px solid #9425cb;
    border-radius: 5px ;
    padding: 2px;
    font-size: 12px;
}

.homes-item-images {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
width: 100%;
    height: auto;
    margin-bottom: 5px;

}

.dominant-image {
    width: 100%;
    height: 400px;
}

.small-images {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.small-images img {
    width: 145px;
        height: 150px;
        margin: 2px;
        object-fit: cover;
}

/* .homes-maincont{
background-color: rgb(169, 228, 237);
padding: 2px;
border: solid black 2px;
font-size: 12px;

} */






.love-button {
    background-color: grey;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.love-button.loved {
    background-color: red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
    margin-top: 100px;
}

.navbar-container {
    display: flex;
    gap: 1rem;
    padding-top: 50px
}

button#category {
    background-color: #00DEB6;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
}

button#category:hover {
    background-color: #008d78;
    color: #fff;
}

.search-form {
    display: flex;
    align-items: center;
}
.search-form input[type="text"] {
    border: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

button#comment {
    background-color: #0077c0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
}

button#comment:hover {
    background-color: #005ea3;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo h1 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
    color:black;
}

.logo-icon {
    margin-right: 2rem;
    color: #fff;
}

#slogan {
    margin-right: 2rem;
    color: black;
}

.header-background {
    background-image: url("https://demo.wpzoom.com/presence-real-estate/files/2016/09/stephan-bechert-yFV39g6AZ5o-unsplash-1060x711.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}


#form-container {
    background-color: rgb(192, 237, 192);
    width: 25%;
    padding: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form div {
    margin-bottom: 10px;
}

#form label {
    font-weight: bold;
}

#form input,
#form select {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

#form button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


/* @media only screen and (max-width: 768px) {
    .homes-item-container {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .homes-item-container {
        width: 100%;
    }
} */
/* 
#btn1,
#btn2 {
background-color: #00DEB6;
color: black;
margin-right: 100px;
margin-top: 20px;
justify-content: center;

} */
  
#btn-update{
background-color: #a3bab6;
    color: black;
    margin-right: 180px;
    margin-top: 20px;

}


#btn-delete{
background-color: #9eb3ad;
    color: black;
    /* margin-right: 140px; */
    margin-top: 20px;

}


#btn-showmore{
background-color: #00DEB6;
color: black;
justify-content: center;
margin-top: 20px;

}

/* .btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#btn1,
#btn2 {
    background-color: #00DEB6;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
} */